ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 720px;
}

ul li{
    float: left;
    background: url(../Imagens/aba-direita.png) no-repeat top right;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    background: url(../Imagens/aba-esquerda.png) no-repeat top left;
    text-decoration: none;
    color: #fff;
}

ul a:hover{
    color: #894a1f;
}

ul #atual{
    background: url(../Imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a{
    background: url(../Imagens/aba-esquerda-atual.png) no-repeat top left;
}