ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../Imagens/menu.png) left bottom;
}

ul a:hover{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

#home #menu-lateral .home a,
#noticias #menu-lateral .noticias a,
#sobre #menu-lateral .sobre a,
#contatos #menu-lateral .contatos a{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}